body{
    margin: 0;
    padding: 0; 
    font-size: 20px;
    
}
.p1{
      
    background-color: green;     
    text-align: center;
    padding:3%;
}
.p2{
     
       
    background-color: red;
    padding:3%;

}
.p3{
    
    background-color: green;
    padding:3%;
    text-align: center;
   

}